<div class="contenedor" *ngIf="view === 1">
  <mat-card class="tarjeta">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput [(ngModel)]="login.email" placeholder="Ingrese Email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="login.password" placeholder="Ingrese Contraseña" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="login.app" placeholder="Ingrese App" required>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">
        <button mat-stroked-button (click)="logear(login)" color="primary">Ingresar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="view === 2">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="bookingId">
      <th mat-header-cell *matHeaderCellDef> BookingId </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.tutenUserClient.firstName}} {{element.tutenUserClient.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="bookingTime">
      <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingTime}} </td>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element"> {{element.locationId.streetAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="bookingPrice">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingPrice}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
