.tarjeta {
    min-width: 400px;
    max-width: 600px;
    border: solid;
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

table {
    width: 100%;
}